.input_area {
    margin: 0;
    padding: 20px;
    border: var(--color-border-medium) solid 1px;
}

.input input[type="text"] {
    padding: 10px;
    border: 1px solid var(--color-border-medium);
    border-radius: 4px;
    outline: none;
}

.input input[type="text"]:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
}